{% extends "layout.html" %}
{% block body %}
<div>
        <div style="margin:0 auto;width:100%;text-align:center;">
            <label style="font-size: 2em;font-color:black;width:200px;">单因子分析</label>

            <!--<input type="button" style="display:inline;" value="下载" />-->
            <input type="button" class="btnBigMenu" onclick="location.href='/menu'" value="返回主菜单" />
        </div>
        <div>
            <form action="{{ url_for('index') }}" method="POST">
            <label>分析名</label>
            <select id="analyzer" name="analyzer"  tabindex="2" style="font-size: 1.5em; 10px; margin: 10px 0 0 100px;;">
                {% for item in analyzerList %}
                    <option value={{ item[0] }}>
                        {% if item[1]: %}
                            {{ item[2] }}-{{ item[1].decode('utf8') }}
                        {% else %}
                            {{ item[0].decode('utf8') }}
                        {% endif %}
                    </option>
                {% endfor %}
            </select><br/>
            <label>行业</label>
            <select id="industryCode" name="industryCode"  tabindex="2" style="font-size: 1.5em; 10px;  margin: 10px 0 0 100px;">
                <option value='all'>全行业</option>
                {% for item in industryCodeList %}
                    <option value={{ item[0] }}>
                        {{ item[1].decode('utf8') }}
                    </option>
                {% endfor %}
            </select><br/>
            <label>成分股选股</label>
            <select id="indexCode" name="indexCode"  tabindex="2" style="font-size: 1.5em; 10px; margin: 10px 0 0 100px;">
                <option value="000000.AA">全市场</option>
                <option value="000016.SH">上证50</option>
                <option value="000300.SH">沪深300</option>
                <option value="399905.SZ">中证500</option>
            </select><br/>
            <label>基准</label>
            <select id="baseline" name="baseline"  tabindex="2" style="font-size: 1.5em; 10px; margin: 10px 0 0 100px;">
                <option value="000016.SH">上证50</option>
                <option value="000300.SH">沪深300</option>
                <option value="399905.SZ">中证500</option>
            </select><br/>
            <input type="submit" value="生成" style="width:50px"> <input type="reset" value="重置" style="width:50px">
            </form>
        </div>

        {% if type==1: %}
            {% if filename: %}
            <div>
                <img src="{{ filename }}-time-series.jpg" style="display:inline;width:600px;">
                <img src="{{ filename }}-alpha.jpg" style="display:inline;width:600px;">
                <img src="{{ filename }}-missing.jpg" style="width:600px;">
                <img src="{{ filename }}-box.jpg" style="width:500px;">
            </div>
            <div id="tableheader">
                <div class="search" style="display:none">
                    <select id="columns" onchange="sorter.search('query')"></select>
                    <input type="text" id="query" onkeyup="sorter.search('query')" />
                </div>
                <span class="details" style="display:none">
                    <div>Records <span id="startrecord"></span>-<span id="endrecord"></span> of <span id="totalrecords"></span></div>
                    <div><a href="javascript:sorter.reset()">reset</a></div>
                </span>
            </div>
            <div style="margin:0 auto;width:100%;text-align:left;">
                <a href = "{{ downloadLink }}">下载</a>
            </div>
            <table cellpadding="0" cellspacing="0" border="0" id="table" class="tinytable">
                <thead>
                    <tr>
                        {% for columnname in columns2 %}
                            <th><h3>{{ columnname.decode('utf8') }}</h3></th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for item in vlist2 %}
                    <tr>
                        {% for index in range(columnlen2) %}
                            <td>{{ item[index] }}</td>

                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div style="margin:0 auto;width:100%;text-align:left;">
                <a href = "{{ downloadLink2 }}">下载</a>
            </div>
            <table cellpadding="0" cellspacing="0" border="0" id="table2" class="tinytable">
                <thead>
                    <tr>
                        {% for columnname in columns %}
                            <th><h3>
                                {{ columnname.decode('utf8') }}
                            </h3></th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for item in vlist %}
                    <tr>
                        {% for index in range(columnlen) %}
                            <td>{{ item[index].decode('utf8') }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div id="tablefooter" style="display:none">
              <div id="tablenav">
                    <div>
                        <img src="{{ url_for('static', filename='images/first.gif') }}" width="16" height="16" alt="First Page" onclick="sorter.move(-1,true)" />
                        <img src="{{ url_for('static', filename='images/previous.gif') }}" width="16" height="16" alt="First Page" onclick="sorter.move(-1)" />
                        <img src="{{ url_for('static', filename='images/next.gif') }}" width="16" height="16" alt="First Page" onclick="sorter.move(1)" />
                        <img src="{{ url_for('static', filename='images/last.gif') }}" width="16" height="16" alt="Last Page" onclick="sorter.move(1,true)" />
                    </div>
                    <div>
                        <select id="pagedropdown"></select>
                    </div>
                    <div>
                        <a href="javascript:sorter.showall()">view all</a>
                    </div>
                </div>
                <div id="tablelocation">
                    <div>
                        <select onchange="sorter.size(this.value)">
                        <option value="5">5</option>
                            <option value="10" selected="selected">10</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                        <span>Entries Per Page</span>
                    </div>
                    <div class="page">Page <span id="currentpage"></span> of <span id="totalpages"></span></div>
                </div>
            </div>
            {% else %}
            <div style="margin:0 auto;width:100%;text-align:center;"><label style="font-size: 3em;width:300px;">沒有找到相关信息</label></div>
            {% endif %}
        {% else %}

        {% endif %}

    </div>

	<script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
	<script type="text/javascript">
	var sorter = new TINY.table.sorter('sorter','table',{
		headclass:'head',
		ascclass:'asc',
		descclass:'desc',
		evenclass:'evenrow',
		oddclass:'oddrow',
		evenselclass:'evenselected',
		oddselclass:'oddselected',
		paginate:true,
		size:10,
		colddid:'columns',
		currentid:'currentpage',
		totalid:'totalpages',
		startingrecid:'startrecord',
		endingrecid:'endrecord',
		totalrecid:'totalrecords',
		hoverid:'selectedrow',
		pageddid:'pagedropdown',
		navid:'tablenav',
		sortcolumn:1,
		sortdir:1,
		init:true
	});
  </script>

    <script type="text/javascript">
      $(document).ready(function() {
        $("select.flexselect").flexselect({ hideDropdownOnEmptyInput: true });
        $("form").submit(function() {
          //alert($(this).serialize());
          //return false;
        });
      });
      $("#analyzer  option[value='{{analyzer}}'] ").attr("selected",true)
      $("#industryCode  option[value='{{industryCode}}'] ").attr("selected",true)
      $("#indexCode  option[value='{{indexCode}}'] ").attr("selected",true)
      $("#baseline  option[value='{{baseline}}'] ").attr("selected",true)
    </script>
{% endblock %}